.dashboard {
  display: flex;
  
  &__content {
    flex: 1;
    padding: 2rem;

    @media (width >= 1024px) {
      padding: 3rem;
    }
  }

  .dashboard__grid {
    display: grid;
    gap: 1.5rem;
    
    &--bento {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      
      @media (width >= 768px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }
    
    &--standard {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      
      @media (width >= 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      
      @media (width >= 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
    
    &-item {
      &--feature {
        @media (width >= 768px) {
          grid-column: span 2;
          grid-row: span 2;
          background: linear-gradient(to bottom right, white, rgb(239 246 255 / 30%));
        }
      }
      
      &--secondary {
        @media (width >= 768px) {
          grid-column: span 2;
        }
      }
      
      &--utilities {
        display: grid;
        margin-top: 1rem;
        grid-column: span 1;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.5rem;
        
        @media (width >= 640px) {
          grid-column: span 4;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        
        @media (width >= 1024px) {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }
    }
  }
}

