.app-footer {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 48px;
  padding: 0 2rem;
  background-color: rgb(255 255 255 / 80%);
  border-top: 1px solid var(--color-border-subtle);
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(180%) blur(20px);

  a {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-heading);
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 0.32rem;
  font-size: 0.875rem;
  color: var(--color-text-muted);
}

.separator {
  color: var(--color-text-subtle);
}

.author {
  font-weight: var(--font-weight-medium);
}
