.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-height: 100vh;
  overflow: auto;
  flex-direction: column;

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: #F8FAF8;
  }
}
